* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: Ubuntu, Roboto, "Helvetica Neue", "Open Sans", "Segoe UI", Verdana, sans-serif;
}

main {
  position: absolute
}
